/* eslint-disable */
{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "prettier/prettier": ["off"],
    "no-prototype-builtins": "off",
    "no-empty": "off",
    "no-case-declarations": "off",
    "no-async-promise-executor": "off",
    "no-empty-pattern": "off",
  },
}
